<div class="row">
  <div class="col-md-3">
    <%= form_for(@git_sitter) do |f| %>
      <% if @git_sitter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@git_sitter.errors.count, "error") %> prohibited this git_sitter from being saved:</h2>

          <ul>
          <% @git_sitter.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div class="form-group">
          <%= f.label :when %><br>
          <!-- <span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span><br> -->
          <input type="text" name="git_sitter[when]" id="git_sitter_when" class="form_datetime form-control">        
        </div>
            <script type="text/javascript">
              $(".form_datetime").datetimepicker({
                  format: "MM dd - H:ii P",
                  showMeridian: true,
                  // todayBtn: true,
                  minuteStep: 15,
                  autoclose: true,
                  startDate: "2015-01-01 0:00",
                  pickerPosition: "bottom-left"
              });
            </script>  
        <div class="form-group">
          <%= f.label :how_long %><br>
          <%= f.text_field :how_long, autocomplete: "off", placeholder: "Hours (2.5)", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :message %><br>
          <%= f.text_area :message, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit "Send Sitter Messages", class: 'btn btn-success'  %>
    </div>
<% end %>
</div>
</div>
