<h1>Sitter Request</h1>
<div class="row">
  <div class="col-md-6">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>When:</strong>
      <%= @git_sitter.when %>
    </p>

    <p>
      <strong>How long:</strong>
      <%= @git_sitter.how_long %>
    </p>

    <p>
      <strong>Message:</strong>
      <%= @git_sitter.message %>
    </p>
     
    <br> 
    <%= link_to 'Back', git_sitters_path, class: 'btn btn-primary' %>
    <%= link_to 'Remove', @git_sitter, class: 'btn btn-danger', method: :delete %>
  </div>
</div>