<%= form_for(@sitter, html: { class: 'form-inline' }) do |f| %>  
  <% if @sitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitter.errors.count, "error") %> prohibited this sitter from being saved:</h2>

      <ul>
      <% @sitter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">  
    <%= f.text_field :name, class: 'form-control',autocomplete: "off", placeholder: "New Sitter: Name" %>
  </div>
  <div class="form-group">      
    <%= f.text_field :phone, class: 'form-control',autocomplete: "off", placeholder: "Phone: 123-456-7890" %>
  </div>
  <button type="submit" class="btn btn-success">Save Sitter</button>
<% end %>
