<p id="notice"><%= notice %></p>

<h1>My Sitters</h1>
<br>
<%= render 'form' %>
<br>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Edit</th>
         
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @sitters.each do |sitter| %>
          <tr>
            <td><%= render partial: 'sitter_selections/sitter_selection', locals: { sitter: sitter } %></td>
            <td><%= sitter.name %></td>
            <td><%= sitter.phone %></td>
            <td><%= link_to edit_sitter_path(sitter), class: 'btn btn-warning' do %>
            <span class="glyphicon glyphicon-pencil"></span></td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




