<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sitter.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sitter.phone %>
</p>

<%= link_to 'Edit', edit_sitter_path(@sitter) %> |
<%= link_to 'Back', sitters_path %>
